// Hues of Blue
$c_social-blue:           #00aced;
$c_wassamatta-blue:       #2199e8;
$c_sky-blue:              #0e7ff9;
$c_blight-blue:           #006bb6;
$c_link-blue:             #1570b5;
$c_house-of-blue:         #0067b2;
$c_mysterio-blue:         #1a477b;
$c_highschool-goth-blue:  #032f4f;
$c_navy-blue:             #072840;
$c_black-eye-blue:        #00233b;
$c_midnight-blue:         #061d2c;


// 50 shades of grey
$c_white:            #ffffff;
$c_tint-white:       #fafafa;
$c_light-grey:       #f4f4f4;
$c_romantic-grey:    #f3f4f5;
$c_flake-grey:       #eaeaea;
$c_delightful-grey:  #dddddd;
$c_pigeon-grey:      #d7d7d7;
$c_carrot-grey:      #cccccc;
$c_leo-grey:         #b7b7b7;
$c_grumpy-grey:      #b4c2cb;
$c_beta-grey:        #b1b1b1;
$c_alpha-grey:       #a2a2a2;
$c_basic-grey:       #929090;
$c_med-grey:         #919191;
$c_shark-skin-grey:  #7c7c7c;
$c_macey-grey:       #63737b;
$c_form-grey:        #58595b;
$c_dark-grey:        #444444;
$c_bread-black:      #333333;
$c_pale-black:       #2d363b;
$c_flat-black:       #2a2a2a;
$c_nba-footer-black: #0a0a0a;
$c_black:            #000000;


// Yellow
$c_yellow:           hsla( 60, 100%, 50%, 1);
$c_sap-yellow:       hsla( 41, 87%, 50%, 1);
$c_brellow:          hsla( 41, 100%, 43%, 1);


// Brown I guess?
$c_asphalt:           #57595b;


// Red
$c_red-red:               #ff0000;
$c_live-red:              #f34f4f;
$c_night-at-the-improv:   #990033;


// Green
$c_good-green:            #009900;


// League Colors
$c_nba_blue:             #1D428A;
$c_nba_red:              #C8102E;

$c_stats-team-color-htm: $c_nba_blue;
$c_stats-team-color-vtm: $c_nba_red;

// All Star Colors
$c_stats-team-color-west: $c_nba_blue;
$c_stats-team-color-east: $c_nba_red;

// Team Colors
$c_stats-team-color-atl: #e13a3e;
$c_stats-team-color-bos: #008348;
$c_stats-team-color-bkn: #061922;
$c_stats-team-color-cha: #1d1160;
$c_stats-team-color-chi: #ce1141;
$c_stats-team-color-cle: #860038;
$c_stats-team-color-dal: #061922;
$c_stats-team-color-den: #4d90cd;
$c_stats-team-color-det: #006bb6;
$c_stats-team-color-gsw: #fdb927;
$c_stats-team-color-hou: #ce1141;
$c_stats-team-color-ind: #ffc633;
$c_stats-team-color-lac: #C8102E;
$c_stats-team-color-lal: #fdb927;
$c_stats-team-color-mem: #7399c6;
$c_stats-team-color-mia: #98002e;
$c_stats-team-color-mil: #00471b;
$c_stats-team-color-min: #005083;
$c_stats-team-color-noh: #002b5c;
$c_stats-team-color-njn: #c60033;
$c_stats-team-color-nop: #002b5c;
$c_stats-team-color-nyk: #006bb6;
$c_stats-team-color-okc: #007dc3;
$c_stats-team-color-orl: #007dc5;
$c_stats-team-color-phi: #C8102E;
$c_stats-team-color-phx: #e56020;
$c_stats-team-color-por: #061922;
$c_stats-team-color-sac: #724c9f;
$c_stats-team-color-sas: #061922;
$c_stats-team-color-tor: #ce1141;
$c_stats-team-color-uta: #002b5c;
$c_stats-team-color-was: #002b5c;
