.fatToggle {
  @include br3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  @include bg-black-10;

  &[data-enabled="true"] {
    @include bg-gold;
  }

  &__label {
    @include pt3;
    @include pb1;
    @include f3;
    @include lh-title;
    @include fw7;
    @include black-90;
    width: 100%;
    text-align: center;
  }

  &__text {
    @include black-60;
    @include f6;
    @include ttu;
    @include pb2;
    letter-spacing: .5px;
    width: 100%;
    text-align: center;
  }

  &__toggle {
    @include pv2;
    @include bg-light-gray;
    width: 100%;
    text-align: center;
  }

  &__button {
    @include white;
    @include pv2;
    @include ph4;
    @include br-pill;
    @include ba;
    @include b--transparent;
    @include bg-black;
    @include f7;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.2;
    transition: all .15s ease-in-out;
  }

  &__button:hover {
    @include bg-gold;
    @include black;
  }

  &__button:active {
    transform: translateY(3px);
  }


  @media #{$breakpoint-medium} {
    &__label {
      @include f2;
    }
  }
  
  @media #{$breakpoint-large} {
    &__label {
      @include f1;
    }
  }


}