@mixin o-100 { opacity: 1;    }
@mixin o-90  { opacity: .9;   }
@mixin o-80  { opacity: .8;   }
@mixin o-70  { opacity: .7;   }
@mixin o-60  { opacity: .6;   }
@mixin o-50  { opacity: .5;   }
@mixin o-40  { opacity: .4;   }
@mixin o-30  { opacity: .3;   }
@mixin o-20  { opacity: .2;   }
@mixin o-10  { opacity: .1;   }
@mixin o-05  { opacity: .05;  }
@mixin o-025 { opacity: .025; }
@mixin o-0   { opacity: 0; }
